<div class="content max9" style="min-height: 1126px;">
  <!-- Content Header (Page header) -->
  <!-- Main content -->

    <div class="row">
      <div class="col-md-4 hidden-xs">
        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="<%= req.session.user.avatar %>" alt="User profile picture">

            <h3 class="profile-username text-center"><%=req.session.user.name%></h3>

            <p class="text-muted text-center">Software Engineer</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Followers</b> <a class="pull-right">1,322</a>
              </li>
              <li class="list-group-item">
                <b>Following</b> <a class="pull-right">543</a>
              </li>
              <li class="list-group-item">
                <b>Friends</b> <a class="pull-right">13,287</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-8 row">
        <% _.each(foundPosts, function(post) {%>
        <!-- Post -->
        <div class="post">
                <div class="user-block">
                  <img class="img-circle img-bordered-sm" src="<%=post.owner.avatar%>" alt="user image">
                        <span class="username">
                          <a href="#"><%=post.owner.name%></a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                  <time class="timeago description" datetime="<%=post.createdAt%>"></time>
                </div>
                <!-- /.user-block -->
                <p><%=post.content%></p>
                <ul class="list-inline">
                  <li><a href="#" class="link-black text-sm"><i class="glyphicon glyphicon-share-alt"></i> Chia sẻ</a></li>
                  <li><a href="#" class="link-black text-sm"><i class="glyphicon glyphicon-thumbs-up"></i> Thích</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Bình luận
                      ()</a></li>
                </ul>
        </div>

        <div class="comment" id="postid-<%= post.id %>">
          <% _.each(post.comments, function(comment) {%>
          <div class="user-block">
            <img class="img-rounded" src="<%=comment.accavatar%>" alt="user image">
                        <span class="username">
                          <a href="#"><%=comment.accname%></a> : <%=comment.content%>

                        </span>
            <span class="description">Like Share <%=comment.createdAt%></span><br>
          </div>
          <% }) %>
        </div>
        <div class="cm-form">
          <div class="user-comment">
            <img class="img-rounded" src="<%= req.session.user.avatar %>" alt="user image">
            <form id="form-comment-<%= post.id %>" class="form-cm">
              <input class="hidden" id="postid" name="post" type="name" value="<%= post.id %>">
              <input class="hidden" id="accname" name="accname" type="name" value="<%= req.session.user.name %>">
              <input class="hidden" id="accavatar" name="accavatar" type="avatar" value="<%= req.session.user.avatar %>">
              <input class="hidden" id="accid" name="accid" type="accid" value="<%= req.session.user.id %>">
              <input id="content" name="content" class="form-control input-sm" type="text" placeholder="Type a comment">
              <input class="btn btn-danger hidden" type="submit" value="gửi"/>
            </form>
          </div>
        </div>

        <!-- /.post -->
        <% }) %>




        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->



  <!-- /.content -->
</div>





    <!--<div class="col-sm-9 whitebg timelines">-->
      <!--<h4><small>RECENT POSTS</small></h4>-->
      <!--<hr>-->
      <!---->
      <!--<h4></h4>-->
      <!--<span class="glyphicon glyphicon-time"></span>-->
      <!---->
      <!--<p></p>-->
      <!--<hr>-->
      <!---->
    <!--</div>-->

