
<div class="col-sm-4 sidenav text-center">
    <img src="<%= user.avatar%>" class="img-circle img-thumbnail" alt="Cinque Terre" width="200" height="200">
  <h1 class="text-danger"><%= user.name%></h1>
  <h5><span class="label label-danger">Khách Hàng Thân Thiết</span></h5>
  <ul class="list-group">
    <li class="list-group-item"><span class="glyphicon glyphicon-earphone pull-left"></span><%= user.phone%></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-map-marker pull-left"></span><%= user.address%></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-gift pull-left"></span><%= user.birthday%></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-envelope pull-left"></span><%= user.email%></li>
  </ul>


  <div class="panel panel-warning" >
  <div class="panel-heading"><span class="glyphicon glyphicon-list-alt pull-left"></span>Ghi Chú</div>
  <div class="panel-body"    data-toggle="tooltip" data-placement="right" title="Bấm để thêm/sửa ghi chú">
    <p id="notes" class="pull-left"><%= user.notes %></p>
  </div>
  </div>

</div>
