<div class="col-sm-8">
  <div class="col-sm-12">
  <h2>Nhật Ký Cuộc Gọi</h2>
  <p>The .table-condensed class makes a table more compact by cutting cell padding in half:</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nội Dung</th>
      <th>Ngày Gọi</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= user.calls[0].id%></td>
      <td><%= user.calls[0].content%></td>
      <td><%= user.calls[0].createdAt%></td>
    </tr>
    <tr>
      <td><%= user.calls[1].id%></td>
      <td><%= user.calls[1].content%></td>
      <td><%= user.calls[1].createdAt%></td>
    </tr>


    </tbody>
  </table>
  <ul class="pagination pull-right">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
  </div>
</div>

