<div class="col-sm-4 sidenav text-center user-info">
  <img src="<%= user.avatar || '/images/default-avatar.png' %>" class="img-circle img-thumbnail" width="125"
       height="125">
  <h1 userdata="name" class="no-border text-danger"><%= user.name || '' %></h1>
  <h5><span data-type="select" data-source="{'basic':'basic','gold':'gold','diamond':'diamond'}" userdata="customer_group"
            class="label label-danger"><%= user.customer_group || '' %></span></h5>
  <ul class="list-group">
    <li class="list-group-item"><span class="glyphicon glyphicon-earphone pull-left"></span>
      <span static-userdata="phone"><%= user.phone %></span></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-map-marker pull-left"></span>
      <span title="Sua Dia chi" data-mode="inline" userdata="address"><%= user.address || '' %></span>
    </li>
    <li class="list-group-item"><span class="glyphicon glyphicon-gift pull-left"></span>
      <span title="Sua Sinh Nhat" data-type="date" userdata="birthday"><%= user.birthday || '' %></span>
      <!--Thu coi dc k-->
    </li>
    <li class="list-group-item"><span class="glyphicon glyphicon-envelope pull-left"></span>
      <span title="Sua Dia Chi Email" data-mode="inline" userdata="email"><%= user.email || '' %></span>
    </li>
  </ul>


  <div class="panel panel-warning">
    <div class="panel-heading"><span class="glyphicon glyphicon-list-alt pull-left"></span>Ghi Chú</div>
    <div class="panel-body">
      <p title="Sua Notes" class="no-border" data-type="textarea" userdata="notes"><%= user.notes || '' %></p>
    </div>
  </div>
  <button type="button" class="btn btn-info btn-xs center-block " data-toggle="modal" data-target="#avatar">Đổi Avatar</button>
  <!-- Modal -->
  <div class="modal fade" id="avatar" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Đổi Hình Đại Diện</h4>
        </div>
        <div class="modal-body">
          <form id="uploadForm" class="form-inline" role="form"
                enctype="multipart/form-data"
                action="/file/<%= user.phone %>"
                method="post" name="uploadForm" novalidate>
            <input type="file" id="userPhotoInput" name="avatar" id ="userPhoto" />

            <input type="submit" value="Đồng Ý"/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>

    </div>
  </div>

</div>
